name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} | Rails ${{ matrix.rails }} | Gemfile ${{ matrix.gemfile }}
    continue-on-error: ${{ matrix.rails == 'edge' }}
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.1", "3.2", "3.3", "3.4", "4.0"]
        rails: ["7.0", "7.1", "7.2", "8.0", "8.1", "edge"]
        gemfile: [rails_gems]
        exclude:
          - ruby: "3.1"
            rails: "8.0"
          - ruby: "3.1"
            rails: "8.1"
          - ruby: "3.1"
            rails: "edge"
          - ruby: "3.2"
            rails: "edge"
          - ruby: "3.4"
            rails: "7.0"
          - ruby: "4.0"
            rails: "7.0"
        include:
          - ruby: head
            rails: "edge"
            gemfile: rails_gems
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      RAILS_VERSION: ${{ matrix.rails }}
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Start MySQL and create DB
        run: |
          sudo systemctl start mysql.service
          mysql -uroot -h localhost -proot -e "CREATE DATABASE job_iteration_test;"
      - name: Ruby tests
        run: bundle exec rake test

  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          bundler-cache: true
      - name: Rubocop
        run: bundle exec rubocop
      - name: Documentation correctly written
        run: bundle exec yardoc --no-output --no-save --no-stats --fail-on-warning
