name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} | Rails ${{ matrix.rails }} | Gemfile ${{ matrix.gemfile }}
    continue-on-error: ${{ matrix.rails == 'edge' }}
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.0", "3.1", "3.2", "3.3", "3.4"]
        rails: ["6.1", "7.0", "7.1", "7.2", "8.0", "8.1", "edge"]
        gemfile: [rails_gems]
        exclude:
          - ruby: "3.0"
            rails: "7.1"
          - ruby: "3.0"
            rails: "7.2"
          - ruby: "3.0"
            rails: "8.0"
          - ruby: "3.0"
            rails: "8.1"
          - ruby: "3.0"
            rails: "edge"
          - ruby: "3.1"
            rails: "8.0"
          - ruby: "3.1"
            rails: "8.1"
          - ruby: "3.1"
            rails: "edge"
          - ruby: "3.2"
            rails: "6.1"
          - ruby: "3.3"
            rails: "6.1"
          - ruby: "3.4"
            rails: "6.1"
          - ruby: "3.4"
            rails: "7.0"
        include:
          - ruby: head
            rails: "edge"
            gemfile: rails_gems
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      RAILS_VERSION: ${{ matrix.rails }}
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Start MySQL and create DB
        run: |
          sudo systemctl start mysql.service
          mysql -uroot -h localhost -proot -e "CREATE DATABASE job_iteration_test;"
      - name: Ruby tests
        run: bundle exec rake test

  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Ruby
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
        with:
          bundler-cache: true
      - name: Rubocop
        run: bundle exec rubocop
      - name: Documentation correctly written
        run: bundle exec yardoc --no-output --no-save --no-stats --fail-on-warning
